.styleBody{
    font-family: eras itc;
}

/* Estilo de la imagen de fondo del header */
.background{
    background-image: url(./img/pexels-lucas-monteiro-1868563.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    height: 30rem;
    
}

/* Estilo del nav */
.bg-dark{
    --bs-bg-opacity: 0.85;
}
.navTitle{
    font-size: 25px;
    font-weight: 700;
}
.nav-link-transition{
    color: white;
}

.nav-link{
    color: white;
    align-items:center;

}
.nav-link:focus{
    color: white;
}
.links:hover{
    color: #bd0016;

}
.linkStow:hover{
    color: rgb(255, 255, 255);

}

/* Texto del tiempo del envio */
.textSend{
    color: crimson;

}

/* Aticulos de la pagina */

/* Nueva Coleccion */
.titleNewCollection{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
}
.productNewCollection{
    width: 300px;
    height: 420px;
    border-radius: 0px;
    border: none;
    font-family: eras itc;
    font-weight: 500;
    font-size: 15px;
    
}
.productNewCollection .precio{
    font-weight: 600;
    font-size: 16px;

}
.productNewCollection:hover{
    border: 1px solid black
}
.imgNewCollection{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    border-radius: 0px;
}
.imgNewCollection1{
    background-image: url(./https://images.pexels.com/photos/4212009/pexels-photo-4212009.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);    
}
.imgNewCollection2{
    background-image: url(https://images.pexels.com/photos/4373459/pexels-photo-4373459.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);    
}
.imgNewCollection3{
    background-image: url(https://images.pexels.com/photos/7434314/pexels-photo-7434314.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260); 
}
.imgNewCollection4{
    background-image: url(https://images.pexels.com/photos/4287048/pexels-photo-4287048.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); 
}

/* Oferta descuento */
.articleOffer{
    margin: 10rem 0 6rem 0;
}


.imgOffer{
    background-image: url(https://images.pexels.com/photos/5560376/pexels-photo-5560376.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 25rem;
    
}
.blurredImagOffer{
    background-color: rgba(0, 0, 0, 0.45);
    background-position: center;
    background-size: cover;
    height: 25rem;
    color:white;
}
.blurredImagOffer h2{
    font-size: 35px;
    font-weight: 600;
}
.blurredImagOffer h2 span{
    font-weight: 900;
    color: #bd0016;
}


/* Footer */

.iconsFooter{
    font-size: 25px
}
