.imgBackground{
    width: 100%;
    height: 400px;
    background-image: url(../img/pexels-lucas-monteiro-1868563.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}  
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: underline;
}

.titleStow{
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items:center;
    
}

.divIzq{
    text-align: end;
    padding: 0 0px 0 0;  
    
}
.title{
    padding: 0 0px 0 90px;
    
}
.row{
    align-items: center;
}
.row .contacto{
    padding: 0 0 0 150px;
}